.contact {
  padding: 0.2rem 2rem;
  background-color: #1e1e1e; /* Dark background */
  color: white;
  text-align: center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.icon {
  aspect-ratio: 1 / 1;
}